.header img
{
    width: 120px;
} 

/* index */

.platillo img
{
    width: 100vw;
}

.conocenos__video iframe
{
    width: 500px;
    height: 290px;
}

.menus img
{
    width: 100%;
}

/* reservas */

.mapa
{
    width: 100vw;
}

/* eventos */

.table_eventos
{
    border-color: black;
    border-style: double;
}

.table_eventos ul
{
    list-style-type: none;
}
