.grid-mapa {
    @extend .container-grid-estático;
    width: 100vw;
    justify-self: center;
}

.grid-datos-reserva {
    @include container-grid-dinamico(2, 1fr);

    &__consideraciones {
        align-self: end;
    }
}