.grid-mapa
{
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    justify-self: center;
}

.grid-datos-reserva
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__consideraciones
    {
        align-self: end;
    }
}